.header{
   display: flex;
   background-color: #526D82;
   text-decoration: none;
   justify-content: space-between;
   height: 50px;
   line-height: 50px;
   h1{
      width: 20%;
      color: black;
   }
   .logoutlink{
      width: 20%;
      text-decoration: none;

      h1{
         width: 100%;
      }
   }
}