.threadDetails-main{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   min-height: 50%;
   max-height: 90%;
   overflow: scroll;
   gap: 50px;
   margin-bottom: 20px;
   .validationContent{
      font-family: 'Courier New', Courier, monospace;
      color: #9e081e;
      font-weight: 600;
   }

   .main-threadDiv{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      height: fit-content;
      padding-top: 20px;
      width: 92%;
      .thread-div{
         width: 100%;
         height: fit-content;
         background-color: #D9D9D9;
         border-radius: 15px;
         display: flex;
         flex-wrap: wrap;
         h2{
            width: 100%;
            border-bottom: 1px solid black;
            padding: 5px;
         }
         .threadContent{
            width: 100%;
            border-bottom: 1px solid black;
            padding: 5px;
            font-size: 18px;
         }
         .credentials{
            width: 100%;
            display: flex;
            padding: 5px;
            flex-wrap: wrap;
            border-bottom: 1px solid black;
            :first-child{
               width: 100%;
            }
            p{
               width: 50%;
               font-size: 12px;
               letter-spacing: 0.5px;
            }
         }
         .edit-delete-div{
            width: 100%;
            display: flex;
            padding: 5px;
            align-items: center;
            flex-wrap: wrap;
            overflow: scroll;
            gap: 10px;
            button{
               height: 25px;
               border-radius: 15px;
               border: 1px solid black;
               color: white;
               cursor: pointer;
            }
            #deleteThreadBtn{
               background-color: #9e081e;
               width: 70px;
               &:hover{
                  color: #9e081e;
                  background-color: rgb(255, 144, 144);
               }
            }
            #editThreadBtn{
               background-color: #4CA676;
               width: 100px;
               &:hover{
                  background-color: #6fce9b;
               }
            }
            form{
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               text-align: center;
               font-weight: bold;
               justify-content: center;
               div{
                  width: 100%;
               }
               .titleTextArea{
                  border-radius: 10px;
                  width: 100%;
                  resize: none;
                  height: 25px;
                  padding: 5px;
               }
               .contentTextArea{
                  border-radius: 10px;
                  width: 100%;
                  resize: none;
                  height: 200px;
                  padding: 5px;
               }
               .submit{
                  color: white;
                  background-color: #4CA676;
                  border-radius: 10px;
                  height: 23px;
                  padding: 0 5px 0 5px;
                  &:hover{
                     cursor: pointer;
                     background-color: #6fce9b;
                  }
               }
            }
         }
      }
      .addReplyBtn{
         width: 20%;
         height: fit-content;
         border-radius: 10px;
         background-color:#4CA676;
         color: white;
         font-size: 16px;
         &:hover{
            cursor: pointer;
            background-color: #6fce9b;
         }
      }
      .addReplyForm{
         width: 90%;
         display: flex;
         flex-direction: column;
         // justify-content: center;
         align-items: center;
         div{
            width: 100%;
            display: flex;
            justify-content: center;
            label{
               width: 100%;
               display: flex;
               flex-direction: column;
               text-align: center;
               color: white;
               gap: 5px;
               .replyContentInput{
                  resize: none;
                  border-radius: 10px;
                  height: 60px;
                  background-color: aliceblue;
                  padding: 5px;
                  border: solid 2px black;
               }
            }
         }
         .addReplySubmit{
            width: 70px;
            border-radius: 20px;
            background-color: rgb(78, 255, 47);
            &:hover{
               cursor: pointer;
            }
         }
      }
   }
   
   .replies{
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-bottom: 20px;
      .reply-div{
         width: 100%;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         height: fit-content;
         background-color: #D9D9D9;
         border-radius: 15px;
         .replyContent{
            border-bottom: 1px solid black;
            padding: 5px;
            width: 100%;
            font-size: 17px;
         }
         .replyCredentials{
            font-size: 12px;
            padding: 5px;
            border-bottom: solid 1px black;
            width: 100%;
         }
         .editDeleteReply{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 15px;
            padding: 5px;
            align-items: center;
            button{
               height: 25px;
               color: white;
            }
            .editReply{
               border-radius: 10px;
               background-color:#4CA676;
               padding: 0 5px 0 5px;
               &:hover{
                  background-color: #6fce9b;
                  cursor: pointer;
               }
            }
            .deleteReply{
               border-radius: 10px;
               background-color: #9e081e;
               padding: 0 5px 0 5px;
               &:hover{
                  background-color: rgb(255, 144, 144);
                  cursor: pointer;
               }
            }
            form{
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               div{
                  width: 100%;
                  p{
                     font-weight: 700;
                     text-align: center;
                  }
                  textarea{
                     width: 100%;
                     resize: none;
                  }
               }
               .submit{
                  color: white;
                  background-color: #4CA676;
                  border-radius: 10px;
                  height: 23px;
                  padding: 0 5px 0 5px;
                  &:hover{
                     cursor: pointer;
                     background-color: #6fce9b;
                  }
               }
            }
         }
      }
   }
}